/* cart page css start*/

.section--padding2 {
    padding: 70px 0 120px;
}
.bgcolor {
    background: #eff1f5;
}
.product_archive.added_to__cart {
    padding-bottom: 80px;
}
.product_archive {
    background: #fff;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 4px rgba(108, 111, 115, 0.1);
    box-shadow: 0 2px 4px rgba(108, 111, 115, 0.1);
}
.product_archive .title_area {
    padding: 30px;
    border-bottom: 1px solid #ececec;
}
.product_archive .title_area h4{
    margin-bottom: 0px;
}
.single_product {
    padding: 30px;
    border-bottom: 1px solid #ececec;
}
.single_product .short_desc h4{
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 10px;
    letter-spacing: 0px;
}
.v_middle{
    display: inline-block;
    vertical-align: middle;
    margin-right: -3px;
    float: none;
}
.single_product .product__description img {
    display: inline-block;
    vertical-align: middle;
}
.single_product .product__description .short_desc {
    display: inline-block;
    width: -webkit-calc(100% - 155px);
    width: calc(100% - 155px);
    padding-left: 20px;
    vertical-align: middle;
}
.single_product .product__additional_info ul li a img {
    margin-right: 5px;
}
.single_product .product__price_download {
    display: table;
    width: 100%;
}
.single_product .product__price_download .item_price {
    display: table-cell;
}
.single_product .product__price_download .item_price span {
    line-height: 32px;
    display: inline-block;
    padding: 0 15px;
    color: #0674ec;
    margin-right: 10px;
    font-size: 15px;
    font-weight: 500;
    -webkit-border-radius: 100px;
    border-radius: 100px;
}
.product_archive.added_to__cart .product__price_download .item_action {
    float: none;
}
.single_product .product__price_download .item_action .remove_from_cart i {
    font-size: 18px;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    line-height: 50px;
    width: 50px;
    text-align: center;
    background: rgba(6, 116, 236, 0.1);
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
    color: #0674ec;
}
.cart_calculation {
    text-align: right;
}

.cart_calculation .cart--subtotal, .cart_calculation .cart--total {
    padding: 0 30px;
    border-bottom: 1px solid #ececec;
    border-left: 1px solid #ececec;
}

.cart_calculation .cart--subtotal p, .cart_calculation .cart--total p {
    color: #000;
    line-height: 77px;
}

.cart_calculation .cart--subtotal p span, .cart_calculation .cart--total p span {
    margin-right: 36px;
}

.cart_calculation .cart--subtotal p span:after, .cart_calculation .cart--total p span:after {
    content: ':';
}

.cart_calculation .cart--total p {
    font-weight: 500;
    font-size: 20px;
}
.cart_calculation .checkout_link {
    margin-top: 50px;
    margin-right: 30px;
}
.dblock{
    display: inline-block;
}
.single_product .product__price_download .item_action .remove_from_cart:hover i {
    background: #ff6a6d;
    color: #fff;
}
/* cart page css end*/

/*checkout page css start*/

.information_module {
    background: #fff;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 4px rgba(108, 111, 115, 0.1);
    box-shadow: 0 2px 4px rgba(108, 111, 115, 0.1);
    margin-bottom: 30px;
}
.toggle_title {
    display: block;
    padding: 30px 30px 25px;
}
.toggle_title h4 {
    font-size: 22px;
    margin-bottom: 0px;
    font-weight: bold;
    letter-spacing: 0;
}
.information_module .information__set .information_wrapper.form--fields {
    padding: 22px 30px;
}
.information_module .information__set {
    border-top: 1px solid #ececec;
}
.form-group {
    margin-bottom: 20px;
}
.information_wrapper label, .form-group p.label,.payment_info label{
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-transform: capitalize;
    margin-bottom: 10px;
    color: #000;
}
.information_wrapper label sup, .form-group p.label sup {
    color: #ff6a6d;
}
.text_field {
    line-height: 50px;
    background: #f4f5f8;
    border: none;
    box-sizing: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    width: 100%;
    padding: 0 20px;
    border-radius: 2px;
    color: #747b86;
    font-size: 16px;
    height: 45px;
}
.order_summary ul .item{
    display: block !important;
}
.order_summary ul li {
    padding: 24px 30px;
    border-top: 1px solid #ececec;
}
.order_summary ul li.item a {
    color: #0674ec;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
}
.order_summary ul li p {
    display: inline-block;
    margin-bottom: 0;
}
.order_summary ul li.total_ammount {
    font-weight: 500;
    font-size: 22px;
}
.order_summary ul li.total_ammount p {
    font-size: 22px;
    font-weight: 500;
    color: #000;
}
.order_summary ul li span {
    float: right;
    color: #333;
}
.payment_options ul li {
    padding: 10px;
    border-top: 1px solid #ececec;
}
.payment_options ul li:last-child{
    border-bottom: 1px solid #ececec;
    margin-bottom: 30px;
}
.payment_options ul li .custom-radio {
    display: inline-block;
}
.payment_options ul li img, .payment_options ul li p {
    float: right;
    line-height: 37px;
}
.payment_options .payment_info {
    padding: 0 30px 30px;
}
.select-wrap.select-wrap2 select {
    background: #f4f5f8;
    height: 45px;
    border-radius: 0;
    border: none;
    width: 100%;
    padding: 0 40px 0 20px;
}
.mtop0{
    margin-top: 0px !important;
}
.information_module .custom-control-label{
    line-height: 23px;
    font-size: 17px;
}
/*checkout page css end*/


.checkout_validation_error strong{
    width: 100%;
    display: inline-block;
    padding: 5px 0;
}