.start-quiz-container{
    border: 1px solid #e6e7e8;
    text-align: center;
    padding: 100px 0px !important;
    margin: 50px 0px;
    background: #fbfafa;
}
.start-quiz{
    text-align: center;
    margin:0 auto;
    padding: 20px 50px !important;
    font-size: 20px !important;
}
.quiz-pad-wrap{
    background: #fbfafa !important;
    padding: 60px;
    border: 1px solid #e6e7e8 !important;

}
.completeQuiz h1{
    font-size: 30px;
    color: #404142;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    letter-spacing: 0px;
}
.syallbus_content_wrap{
    margin-top: 20px;
}
.mtop25{
    margin-top:50px;
    width: 100%;
}
.review-feed{
    margin-left: 0px;
    margin-top: 30px;
}
.backnormal{
    background: #eef1f5;
}
.becomeinst .cv_text{
    background: #fff;
    border: 1px solid #e6e7e8;
    margin-top: 15px;
}
.becomeinst .queston_head h3{
    color:#000;
    font-size:20px;
}
.becomeinst .queston_option {
    padding-left: 0px;
}