.error_message strong, .so_error_message strong{
    width: 100%;
    display: inline-block;
    padding:  3px;
}
.error_message{width: 80%;}
.so_error_message{width: 100%;}
.notactive{
	position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.offer-review-box{
    width: 100%;
    display: inline-block;
}

 .offer-review-img{ 
   height: 150px;
    width: 150px;
    float: left;
}

.offer-review-heading{
    float: left;
}
.offer-review-detail{
    word-break: break-all;
    width: 100%;
    display: inline-block;

}
.review-box{
    padding: 10px;
    background: #fff;
}

 .review-box strong{ 
   float: left;
   font-size: 25px;
   font-weight: 900;
}

.review-box p{ 
    padding-left: 29px;
    display: inline-block;
}
.offer-review-delivery{
        padding: 20px 0px;
}
.or-div-box{
        float: left;
}

.tags-offers-review{
    padding: 0 15px;
}
.offers-review-desc{
    padding: 15px;
}
.offers-review-user p {
    font-weight: 700;
    font-size: 20px;
    
}
.offers-review-user strong {
        float: right;
    font-size: 25px;
    font-weight: 500;

}