@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

/*.save-marketplace{
	margin: 10px 0;
}
*/
/*menubar*/

/*.pagination>.active, .pagination>.active:focus, .pagination>.active>:hover{
	padding: 0 !important; 
}*/
.product-listing .pagination li.active a{
	background-color: #337ab7 !important;
	color: #fff;
	padding: 0 !important;
	border: none;

}
/*.dropdown {
  position: absolute;
  top:50%;
  transform: translateY(-50%);
}*/

.dropdown dd,
.dropdown dt {
  margin: 0px;
  padding: 0px;
}

.dropdown ul {
  margin: -1px 0 0 0;
}

.dropdown dd {
  position: relative;
}

.dropdown a,
.dropdown a:visited {
  color: #000;
  text-decoration: none;
  outline: none;
  font-size: 15px;
}

.dropdown dt a {
  background-color: #fff;
  display: block;
  padding: 8px 20px 5px 10px;
  min-height: 25px;
  line-height: 24px;
  overflow: hidden;
  border: 0;
  width: 190px;
}

.dropdown dt a span,
.multiSel span {
  cursor: pointer;
  display: inline-block;
  padding: 0 3px 2px 0;
}

.dropdown  ul {
  background-color: #fff;
  border: 1PX solid #0d73e6;
  color: #000;
  display: none;
  left: 0px;
  padding: 2px 15px 2px 5px;
  position: absolute;
  top: 2px;
  width: 190px;
  list-style: none;
  height: auto;
  overflow: auto;
  max-height: 200px;
}

.dropdown span.value {
  display: none;
}

.dropdown  ul li a {
  padding: 5px;
  display: block;
}

.dropdown  ul li a:hover {
  background-color: #fff;
}

.dropdown  ul li{
  	border-bottom: 1px solid #ddd;
    padding: 2px 0;
}


    
.dropdown input[type="checkbox"] {
    margin: 3px 5px;
}

.product-listing-search-btn{
	padding: 5px 35px;
}

.product-listing-search-btn .fa-filter{
	font-size: 25px;
}

/*marketplace common css start*/

.section--padding-marketplace{
    padding: 50px 70px;
}
.mbot20{
    margin-bottom: 20px;
}
.w100{
    width: 100%;
}
.product-listing .listing .product-img img{
    min-height: 168px !important;
    max-height: 168px !important;
}
.product-centerbtn,.product-centerbtn a{
    float: none !important;
    margin-top: 20px !important;
    display: inline-block;
}
/*marketplace common css end*/

/*Home page css start*/

.msearch_back{
    background-blend-mode: overlay;
    background-image: url(../images/marketplace/bg-search.png);
    background-color: #3173bd;
    height: 100%;
    left: 0;
    right: 0;
    z-index: -10;
    background-size: 480px;
    padding: 50px 20px;
}
.big-text1 h1{
    margin-bottom: 0px;
    text-align: center;
    color:#fff;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0;
}
.big-text1 .subtitle{
    letter-spacing: 0;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color:#fff;
    margin: 10px 0px 30px;
}
.main-box {
    height: 60px;
    margin-bottom: 16px;
    max-width: 550px;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.searct-text {
    -ms-flex: 1 auto;
    flex: 1 auto;
    box-sizing: border-box;
    border: 0;
    border-radius: 7px 0 0 7px;
    color: gray;
    font-size: 16px;
    line-height: normal;
    height: 100%;
    padding: 10px 5px 10px 20px;
}
.msearch-btn i{
    font-size: 26px;
    color: #999;
}
.msearch-btn {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    background-color: #fff;
    color: #999;
    border-radius: 0 7px 7px 0;
    padding: 5px 1%;
    border: 0;
    cursor: pointer;
    width: 80px;
}
.msearch-btn:hover {
    background-color: #f2f2f2;
}
.msearch-btn:focus{
    outline: none;
}
.normal-text1 h2{
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    color:#404142;
    letter-spacing: 0;
    text-align: center;
    margin-bottom: 10px;
}
.normal-text1{
    text-align: center;
}
.normal-text1 .subtitle{
    font-size: 17px;
    color: #404142;
    font-family: 'PT Sans', sans-serif;
    line-height: 28px;
}
.section50{
    padding: 50px 0px;
}
.hfetaure-collectionList{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.hfetaure-collectionList ul li{
    margin-bottom: 20px;
    margin-right: 18px;
    text-align: center;
    display: inline-block;
}
.hfetaure-collectionList ul li img{
    height: 90px;
    width: 90px;
}
.mbot30{
    margin-bottom: 30px;
}
/*Home page css end*/
