/*menubar*/
@media (max-width: 1583px){
	.about-mission .box.contant-box:first-child{padding-left: 70px;}
	.about-mission .box.contant-box:last-child{padding-right: 70px;}
}
@media (max-width: 1299px){
	.about-mission .box.contant-box{padding: 50px;}
	.about-mission .box.contant-box:first-child{padding: 50px;}
	.about-mission .box.contant-box:last-child{padding: 50px;}
	.other-nm{margin: 15px 0;}
}
@media (max-width: 1200px){
	.banner .main-banner .banner-contant .search-box{padding: 20px 170px;}
	.dashboard .banner .main-banner .banner-contant {transform: translateY(-284%);}
	.user-work-profile .profile-work-data{width: 50%;padding: 5px;}
	.user-work-profile .profile-work-data .circle{margin: 0 auto;}
	.offer-post .post-all-offers .nav{position: unset;padding: 0;}
	.offer-post .post-all-offers .post-oofer-contant .tab-pane{padding: 20px 0;}
	.about-mission .box.contant-box{padding: 30px;}
	.about-mission .box.contant-box:first-child{padding: 30px;}
	.about-mission .box.contant-box:last-child{padding: 30px;}
	.achivements .achivment-timeline .box{width: 44%;}
	.achivements .achivment-timeline .time-line-img {width: 12%;}
	.forum-content .box .title-name{width: 100%;float: left;padding: 0px 40px;padding-top: 13px;}
	.forum-content .box .list .profile-user{width: 20%;padding: 20px;}
}
@media (max-width: 1024px){
	.dashboard .banner .main-banner .banner-contant {transform: translateY(-164%);}
	.about-us .banner .main-banner .banner-contant {transform: translateY(-124%);}
	.about-mission .box.contant-box{padding: 15px;}
	.about-mission .box.contant-box:first-child{padding: 15px;}
	.about-mission .box.contant-box:last-child{padding: 15px;}
	.achivements .achivment-timeline .box{width: 44%;}
	.achivements .achivment-timeline .time-line-img {width: 12%;}
	.search-box-support .input-group{position: unset;margin-top: 10px;margin-bottom: 0 !important;}
}
@media (max-width: 991px){
	.banner .main-banner .banner-contant{transform: translateY(-124%);padding: 0 15px;}
	header .top-menu .right-menu .sub-menus.user-profile{display: none;}
	.home.section-1{padding: 25px 0;}
	.home.section-4 .stints{max-width: 50%;flex: 0 0 50%;}
	footer .fotter-top .quick-info{max-width: 50%;flex: 0 0 50%;}
	.home .title-discription .discription{padding: 0 15px;}
	.bottom-menu{background: #eef1f3;}
	/* .bottom-menu .navbar-toggler{margin: 0 auto;} */
	header .bottom-menu .navbar-light .navbar-nav{text-align: center;}
	.responsive-proifile{display: block;}
	.responsive-proifile .name-and-balance .name{margin-bottom: 7px;}
	.responsive-proifile.show::before{display: none}
	.responsive-proifile .dropdown-menu {text-align: center;width: 100%;float: left;background: transparent;}
	.responsive-proifile .dropdown-menu i{display: none;}
	.responsive-proifile .dropdown-menu .dropdown-item{color: #000;font-weight: 500;}
	.responsive-proifile .dropdown-menu .dropdown-item{border: 0;}
	.responsive-proifile .dropdown-menu .dropdown-item.active{background: transparent;color: #0d73e6;}
	.responsive-proifile .home-profile-pic img{width: 40px;height: 40px;border-radius: 50px;}
	.con-oreder.section-1 .order-details .order-img{width: 100%;float: left;padding: 0;}
	.confirm-order .order-details{flex: 0 0 100%;max-width:100%;margin-bottom: 30px;}
	.confirm-order .order-payment{flex: 0 0 100%;max-width:100%;}
	.con-oreder.section-1 .order-details .order-info{width: 100%;float: left;padding: 5px 15px;}
	.con-oreder.section-1 .order-details .order-info h3{margin-bottom: 0;}
	.qty-price{padding: 0;}
	.con-oreder.section-1 .order-payment .summery{padding: 20px;}
	.con-oreder.section-1 .order-payment .checkout-sequrity{padding: 20px;}
	.other-nm{margin: 10px 0;}
	.dashboard .con-oreder .col-sm-4, .dashboard .con-oreder .col-sm-8{max-width: 100%;flex: 0 0 100%;}
	.user-work-profile .profile-work-data{width: 21%;margin: 2%;}
	.user-work-profile .profile-work-data .circle{margin: 0 auto;}
	.user-profile-box{width: 100%;float: left;padding: 0;}
	.user-feeds{width: 100%;float: left;padding: 0;}
	.user-feeds .order-feed .feed-contant{padding: 15px 0;}
	.user-profile-feed .user-stints{padding: 0;margin-top: 20px;}
	.ctn.banner .main-banner .banner-contant{transform: translateY(-214%);}
	.offer-post .post-all-offers .post-oofer-contant .requirment-contant .req-box{padding: 0;}
	.requirment-contant .req-box .box{padding: 15px;}
	.offer-post .post-all-offers .post-oofer-contant .publish-contant .publish-almost .pub-details{padding: 20px;}
	.design-contant .catagories-tabs{width: 35%;padding: 0;}
	.design-contant .catagories-list{width: 65%;}
	.cate-box .boxs{max-width: 50%;padding: 10px 10px;}
	.cate-box .boxs{padding-left: 0;}
	.dropd-box{padding: 0;}
	.dropd-box .form-control{width: 45%;}
	.about-us .banner .main-banner .banner-contant {transform: translateY(-125%);}
	.about-us .banner .main-banner .banner-contant .ctm-btn{padding: 6px 25px;}
	.about-us .banner .main-banner .banner-contant .banner-title-2 {margin-bottom: 20px;}
	.about-us .banner .main-banner .banner-contant .banner-title-3 {margin-bottom: 30px;}
	.about-mission .box{width: 100%;float: left;}
	.about-mission{display: flex;flex-flow: column-reverse;}
	.about-mission .box.contant-box:first-child{-webkit-order: 2;order: 2;}
	.about-mission .box.box-img:nth-child(2){-webkit-order: 1 !important;order: 1 !important;}
	.about-mission .box.contant-box{padding: 20px !important;}
	.achivements .achivment-timeline .box {width: 42%;}
	.achivements .achivment-timeline .time-line-img {width: 16%;padding: 0px 39px;}
	.we-Featured .featured-img .img{padding: 10px;}
	header .bottom-menu .bg-light{padding: 10px 1px;}
	.home.section-6 .elearning-contant{padding: 0;}
	.home .title-discription{margin-bottom: 0;}
	.about-mission .box.contant-box .title{margin-bottom: 10px;}
	.achivements .achivment-timeline .box .block.box-1{display: none;}
	.search-box-support{width: 100%;float: left;padding: 0 15px;padding-bottom: 10px;}
	.support-forum .forum-content{width: 100%;float: left;}
	.support-forum .forum-categories{width: 100%;float: left;}
	.product-listing .listing-filter .filter .form-group{width: 33.33%;padding: 15px;}
	.product-listing .listing .priceing{padding-top: 17px;}
	.product-details{width: 100%;padding: 10px;}
	.product-priceing{width: 100%;padding: 10px;}
}
@media (max-width: 767px){
	.banner .main-banner .banner-contant{transform: translateY(-104%);}
	.banner .main-banner .banner-contant .banner-title-2{font-size: 25px;}
	.banner .main-banner .banner-contant .banner-title-3{font-weight: 100;}
	.banner .main-banner .banner-contant .search-box{padding: 0px 80px;}
	.home.section-4 .stints{max-width: 100%;flex: 0 0 100%;}
	.home.section-6 .elearning-img{max-width: 100%;flex: 0 0 100%;text-align: center;}
	.home.section-6 .elearning-img img{float: none;margin: 0 auto;width: 50%;}
	.home.section-6 .elearning-contant{max-width: 100%;flex: 0 0 100%;text-align: center;}
	header .top-menu .logo{width: 100%;margin-bottom: 10px;text-align: center;}
	header .top-menu .logo img{width: 70%;}
	header .top-menu .right-menu{width: 100%;float: left;margin-top: 10px;}
	.user-work-profile .profile-work-data{width: 46%;margin: 2%;}
	.user-work-profile .profile-work-data .circle{margin: 0 auto;}
	.my-active-order .orderes-active .user-id{padding: 0 15px;}
	.my-active-order .orderes-active .order-procss .order-content{width: 100%;float: left;margin: 10px 0;line-height: 17px;}
	.design-contant .catagories-tabs{width: 100%;margin-bottom: 10px;}
	.design-contant .catagories-list{width: 100%;padding: 0;}
	.dropd-box{padding: 0;}
	.dropd-box .form-control{width: 46%;float: left;margin: 2%;}
	.cate-box .boxs{padding: 15px 0;max-width: 100%;}
	.cate-pagination{padding: 0;}
	.responsive-proifile .dropdown-menu{width: 100%;}
	.ctm-blue-btn{width: 100%;float: left;line-height: 17px;}
	.orders-format .table tbody tr td .types{margin-top: 5px;width: 100%; float: left; line-height: 20px;text-align: center;}
	.ctm-red-btn, .ctm-yellow-btn, .ctm-dark-blue-btn{width: 100%;float: left;line-height: 14px;padding: 4px;}
	.orders-format .table tbody tr td{text-align: center;line-height: 20px;}
	.offer-post .post-all-offers .nav{position: unset;padding: 0;margin-bottom: 20px;}
	.offer-post .post-all-offers .nav .nav-item{width: 33.33%;text-align: center;padding: 0;}
	.exp-level .box-contant .leval{width: 100%;margin-bottom: 20px;}
	.contact-info .box .box-contant{padding: 15px !important;}
	.linked-accounts .socail-link{width: 100%;padding: 10px;}
	.up-img{width: 50%;}
	.offer-post .post-all-offers .post-oofer-contant .gallery-contant .gigs .gig-tiitle .title{width: 100%;margin-bottom: 10px;}
	.offer-post .post-all-offers .post-oofer-contant .gallery-contant .gigs .gig-tiitle .sub-title{width: 100%;margin: 0;}
	.offer-post .post-all-offers .post-oofer-contant .description-contant .asked-que .fre-ask-que .title {font-size: 20px;font-weight: 600;line-height: 24px;}
	.offer-post .post-all-offers .post-oofer-contant .pricing-contant .packegaes{padding: 0;}
	.offer-post .post-all-offers .post-oofer-contant .pricing-contant .stint-extras{padding: 0;}
	.offer-post .post-all-offers .post-oofer-contant .publish-contant .publish-almost .pub-details .title{font-size: 22px;margin-bottom: 15px;}
	.offer-post .post-all-offers .post-oofer-contant .publish-contant .publish-almost .pub-details .contant{font-size: 18px;}
	.offer-post .post-all-offers .post-oofer-contant .publish-contant .publish-almost .pub-details .input-group{padding: 20px;}
	.offer-post .post-all-offers .post-oofer-contant .gallery-contant .gallery-title .sub-title{font-size: 16px;}
	.contact-info .box .box-contant .user-details{padding: 10px;}
	.contact-info .box .title-edit{padding: 20px;}
	.two-step-verifiy .user-details .ctm-btn{margin-top: 10px;}
	.contact-info .box .box-contant .paid-btn{padding: 30px 0;}
	.about-us .banner .main-banner .banner-img{min-height: 270px;max-height: 270px;}
	.about-us .banner .main-banner .banner-img img{min-height: 270px;}
	.achivements .achivment-timeline .time-line-img{display: none;}
	.achivements .achivment-timeline .box{width: 50%;}
	.achivements .container{max-width: max-content;}
	.achivements .achivment-timeline .box .block{padding: 10px;}
	.we-are-here .happy-client .box{width: 50%;margin: 10px 0;}
	.meet-people .box{width: 100%;margin: 10px 0;}
	.join-us .contant{padding: 0;}
	.join-us, .we-Featured, .marketplace{padding: 40px 0;}
	.we-Featured .featured-img .img {padding: 50px;width: 50%;}
	.client-feedback .slick-next:before, .client-feedback .slick-prev:before{display: none;}
	header .top-menu{position: relative;}
	.header .langauge-change{position: absolute;right: 0;bottom: -44px;z-index: 999;}
	.home.section-3 .choose-box .box .title{font-size: 18px;}
	.home.section-3 .choose-box .box p{text-align: justify;}
	.home.section-2 .box .title{margin-bottom: 15px;}
	.achivements .achivment-timeline .box .block .title{font-size: 16px;margin-bottom: 5px;}
	.achivements .achivment-timeline .box .block p{font-size: 14px;}
	.achivements .main-title p{padding: 0;font-size: 15px;}
	.achivements .main-title h5{font-size: 18px;}
	.achivements .achivment-timeline .box .block{max-height: 190px;min-height: 190px;}
	.meet-people .title span{font-size: 16px;font-weight: 500;line-height: 20px;}
	.meet-people .title h5{margin-bottom: 5px;}
	.join-us .contant h5{font-size: 18px;}
	.join-us .contant p{font-size: 16px;line-height: 26px;}
	.join-us .contant .ctm-btn{padding: 10px 35px;}
	.client-feedback .title h5{margin-bottom: 10px;}
	.client-feedback .title p{font-size: 16px;}
	.client-feedback .feedback .user-feedback .user .user-name{padding: 5px 17px;}
	.marketplace .contant a.ctm-btn{padding: 10px 35px;}
	.marketplace .contant{padding-top: 40px;}
	.marketplace .title h5{font-size: 20px;}
	.marketplace .title p{font-size: 16px;}
	.ctn.banner .main-banner .banner-contant{transform: translateY(-144%);}
	.head-title{margin-bottom: 20px;}
	.contact-info .box .box-contant .user-details{margin-bottom: 0px;}
	.contact-info .box .box-contant .user-details .sub{font-size: 15px;}
	.orders-activety div{padding: 15px;}
	.cate-box .boxs .work-contant .user-name .img{width: 10%;}
	.contact-info .box .box-contant .user-details .title{font-size: 16px;}
	.contact-info .box .box-contant .user-details p{font-size: 14px;line-height: 15px;}
	.offer-post .post-all-offers{padding: 10px 15px;}
	.my-profile-setting .dropdown{width: 100%;}
	.categorie .user-details .tag{width: auto;float: left;margin-bottom: 7px;line-height: 15px;}
	.about-mission .box.contant-box .title{font-size: 18px;}
	.about-mission .box.contant-box p {font-size: 15px;line-height: 23px;}
	.we-are-here .title h4{font-size: 18px;margin-bottom: 10px;}
	.we-are-here .happy-client .box span{font-size: 16px;}
	.we-are-here .happy-client .box p{font-size: 16px;}
	.meet-people .title h5{font-size: 18px;}
	.meet-people .title span{font-size: 15px;}
	.meet-people .box .details .name{width: 60%;}
	.meet-people .box .details .socail{width: 40%;}
	.marketplace .contant a.ctm-btn{font-size: 16px;}
	footer .fotter-top .quick-info h3{font-size: 18px;margin-bottom: 10px;}
	.orders-format .order-headeing .title{font-size: 18px;}
	.con-oreder.section-1 .order-details .order-info h3{font-size: 16px;}
	.head-title h5{font-size: 18px;}
	.contact-info .box .title-edit h5{font-size: 18px;}
	.contact-info .box .box-contant .close-account{float: left;font-size: 16px;margin-left: 10px;}
	.get-paid .box .user-details.preferred .contant{padding: 20px 0;font-size: 16px;line-height: 23px;}
	.home.section-1 .contant h2{font-size: 19px;}
	.home .title-discription .title{font-size: 18px;}
	.home.section-3 .choose-box .box .title{font-size: 16px;}
	.home.section-6 .elearning-contant .title{font-size: 18px;}
	.cate-box .boxs .work-contant .title{font-size: 16px;}
	.tab-content .design-contant .order-detail-main .order-title h5{font-size: 18px;}
	.membership-contant .summary .title-sub h5{font-size: 18PX;}
	.membership-contant .summary .title-sub {padding: 20px 15px;}
	.offer-post .post-all-offers .post-oofer-contant .gallery-contant .gallery-title .title{font-size: 18px;}
	.offer-post .post-all-offers .post-oofer-contant .gallery-contant .gigs .gig-tiitle .title{font-size: 18px;font-weight: 600;}
	.offer-post .post-all-offers .post-oofer-contant .publish-contant .publish-almost .pub-details .title{font-size: 18px;}
	.offer-post .post-all-offers .post-oofer-contant .publish-contant .publish-almost .pub-details .contant{font-size: 15px;line-height: 18px;}
	.forum-content .box .list .profile-user{width: 50%;float: left;}
	.forum-content .box .title-name{padding: 0 20px;padding-top: 10px;}
	.forum-content .box .list .profile-user .img{width: 35px;margin: 0;}
	.forum-content .box .list .profile-user .time{text-align: left;}
	.product-listing .listing .product-img{width: 100%;}
	.product-listing .listing .product-img .overlay-img{padding: 19%;}
	.product-listing .listing .product-content{width: 100%;}
	.product-listing .listing .user-details{width: 65%;}
	.product-listing .listing .priceing{width: 35%;}
	.ctm-tabs .nav-item a{padding: 15px;}
}
@media (max-width: 550px){
	.dashboard .banner .main-banner .banner-contant {transform: translateY(-134%);}
	.offer-post .post-all-offers .post-oofer-contant .pricing-contant .stint-extras .table td{padding: 15px;}
	.offer-post .post-all-offers .post-oofer-contant .pricing-contant .stint-extras .pack-name td .pk-name .pk-1{width: 100%;}
	.offer-post .post-all-offers .post-oofer-contant .pricing-contant .stint-extras .pack-name td .pk-name .deli-only{width: 50%;}
	.offer-post .post-all-offers .post-oofer-contant .pricing-contant .stint-extras .pack-name td .pk-name .only-drop{width: 50%;}
	.offer-post .post-all-offers .post-oofer-contant .pricing-contant .stint-extras .pack-name td .pk-name .extra-deli{width: 50%;text-align: left;}
	.offer-post .post-all-offers .post-oofer-contant .pricing-contant .stint-extras .pack-name td .pk-name .extra-dil-drop{width: 50%;}
	.offer-post .post-all-offers .post-oofer-contant .stint-contant .form-group{margin: 0;}
	.up-img{width: 100%;padding: 0;}
	.offer-post .post-all-offers .post-oofer-contant .publish-contant .publish-almost .pub-details{padding: 15px;}
	.offer-post .post-all-offers .post-oofer-contant .publish-contant .publish-almost .pub-details .input-group{padding: 10px 0;}
	.achivements .achivment-timeline .box .block{max-height: 300px;min-height: 300px;}
	.we-Featured .featured-img .img {padding: 50px;width: 100%;}
	.client-feedback .feedback .user-feedback{width: 100%;}
	.signup-model .modal-body .ctm-input.full-name input{width: 100%;margin: 0}
	.signup-model .modal-body .ctm-input.full-name input:first-child{margin-bottom: 15px;}
	.ctn.banner .main-banner .banner-contant{transform: translateY(-114%);}
	.orders-activety div{padding: 5px 15px;}
	.cate-box .boxs .work-contant .user-name .img{width: 13%;}
	.offer-post .post-all-offers .post-oofer-contant .description-contant .asked-que .fre-ask-que a{width: 100%;float: left;padding: 10px 0;}
	.offer-post .post-all-offers .post-oofer-contant .description-contant .asked-que .fre-ask-que{padding: 15px 0;}
	.membership .order-btn{padding: 0;}
	.support-forum .forum-content, .support-forum .forum-categories{padding: 10px 0;}
	.support-forum .forum-categories .box .ask-question{padding-bottom: 10px;}
	.ctm-tabs .nav-item a{padding: 12px;}
	
}
@media (max-width: 425px){
	footer .fotter-top .quick-info{max-width: 100%;flex: 0 0 100%;}
	.banner .main-banner .banner-img img{min-height: 280px;}
	.banner .main-banner .banner-contant {transform: translateY(-134%);	}
	.home .banner .main-banner .banner-contant {transform: translateY(-114%);}
	.banner .main-banner .banner-contant .banner-title-1{font-size: 20px;}
	.banner .main-banner .banner-contant .banner-title-2{font-size: 20px;}
	.banner .main-banner .banner-contant .banner-title-3{font-size: 15px;}
	.banner .main-banner .banner-contant .search-box{padding: 0 20px;}
	header .top-menu .right-menu .sub-menus{width: 50px;}
	.login-model .modal-body .socail-btn .ctm-btn{width: 100%;margin: 5px 0;}
	.header .dropdown-menu{left: -140px !important;width: 340px;}
	.header .msg .dropdown-menu{left: -100px !important;width: 100%;}
	.con-oreder.section-1 .order-details .padding{padding: 5px;}
	.my-active-order .orderes-active .img{width: 50%;}
	.my-active-order .orderes-active .user-id{width: 50%;text-align: center;}
	.my-active-order .orderes-active .order-price{width: 50%;}
	.my-active-order .orderes-active .order-duration{width: 50%;}
	.my-active-order .orderes-active .user-id .user-img{margin: 0 auto;float: none;}
	.my-active-order .orderes-active{padding: 15px;}
	.contact-info.get-paid .box .box-contant{padding: 15px;}
	.contact-info .box .box-contant .your-balance{padding: 0;line-height: 23px;width: 100%;float: left;}
	.contact-info .box .box-contant .paid-btn{padding: 10px 0;}
	.get-paid .box .user-details .ctm-btn{margin: 10px 0;float: left;}
	.membership-contant .summary .box{padding: 15px;}
	.membership-contant .summary .box .ctm-btn{font-size: 12px;}
	.header .responsive-proifile .dropdown-menu{width: 100% !important;}
	.confirm-order .banner .main-banner .banner-contant {transform: translateY(-154%);}
	.banner .main-banner .banner-img img {min-height: 210px;}
	.con-oreder.section-1{padding: 10px 0;}
	.qty-price .qty{width: 80%;}
	.ctn.banner .main-banner .banner-contant {transform: translateY(-151%);}
	.profile-setting .offer-post .post-all-offers .nav .nav-item, .membership-contest .offer-post .post-all-offers .nav .nav-item, .offer-post .post-all-offers .nav .nav-item, .get-paid-cont .offer-post .post-all-offers .nav .nav-item, .password-sequrity .offer-post .post-all-offers .nav .nav-item{width: 50%;}
	.my-profile-setting .dropdown{width: 60%;}
	.dashboard .banner .main-banner .banner-contant {transform: translateY(-144%);}
	.offer-post .post-all-offers .post-oofer-contant .pricing-contant .scope-pricing .pricing-title{width: 100%;float: left;text-align: center;}
	.offer-post .post-all-offers .post-oofer-contant .pricing-contant .scope-pricing .packages-on-off{width: 100%;float: left;text-align: center;margin: 20px 0;}
	.contact-info .box .box-contant .paid-btn{width: 100%;float: left;text-align: left;padding-top: 15px;}
	.achivements .achivment-timeline .box .block{max-height: 250px;min-height: 250px;}
	.reviw-one .user-time-date-star .star{float: left;}
	.user-feeds .order-feed .feed-contant .share-order-btns .order{width: 100%;float: left;padding: 5px 0;text-align: center;}
	.user-feeds .order-feed .feed-contant .share-order-btns .social-icon{margin: 0;width: 70%;float: none;margin: 0 auto;text-align: center;clear: both;}
	.main-profile .user-proifle .profile-details .ctm-btn{width: 100%;margin: 5px 0;}
	.forum-content .box .list .profile-user{width: 30%;float: left;}
	.product-listing .listing .priceing{width: 100%;}
	.product-listing .listing .priceing{width: 100%;display: flex;}
	.product-listing .listing .priceing {width: 100%;}
	.product-listing .listing .priceing .ctm-btn{order: 2;}
	.product-listing .listing-filter .filter .form-group{width: 50%;}
	.ctm-tabs .nav-item a{width: 100%;}
	.ctm-tabs .nav-item{width: 50%;}
	.product-in .box .priview{padding: 30px 0;}
}
@media (max-width: 320px){
	.achivements .achivment-timeline .box .block {max-height: 290px;min-height: 290px;}
}
/*menubar*/

/*home page*/
/*home page*/

/*stint page */

/*stint page */